.md-sidemenu .md-button {
    height: 48px;
    margin: 0;
    padding: 0 16px;
    border-radius: 0;
    text-align: left;
    text-transform: none;
}

.md-sidemenu .md-subheader {
    height: 48px;
    display: flex;
    align-items: center;
}

.md-sidemenu-link .md-button {
    display: flex;
    align-items: center;
}

.md-sidemenu-link md-icon:first-child {
    max-width: 24px;
    margin-right: 32px;
}

.md-sidemenu-toggle md-icon {
    transition: .4s transform cubic-bezier(.25, .8, .25, 1);
}

.md-sidemenu-content {
    min-height: 48px;
    overflow: hidden;
}

.md-sidemenu-toggle {
    background-color: #fff !important;
    position: relative;
    z-index: 1;
    transition: .5s background-color cubic-bezier(.25, .8, .25, 1);
}

.md-sidemenu-toggle.md-active md-icon {
    transform: rotate(180deg) translateZ(0);
}

.md-sidemenu-wrapper {
    margin-top: -100%;
    overflow: hidden;
    transition: .4s cubic-bezier(.25, .8, .25, 1);
    transition-property: margin-top, background-color;
}

.md-sidemenu-wrapper.md-active {
    transition-duration: .8s;
}

.md-sidemenu md-divider {
    width: 100%;
    margin: 8px 0;
}

.md-sidemenu md-divider + .md-subheader {
    margin-top: -8px;
}
